.heroText{
  font-family: var(--Readex-font);
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
}

@media (max-width: 600px) {
  .heroText{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
  }
  .heroText br {
    display: none;
  }
}